/*** GENERAL RULES ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
}

/*** ASIDE MENU ***/

aside {
    width: 220px;
    height: 100vh;
    background-color: black;
    float: left;
    left:0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    font-size: 13px;
    font-weight: 900;
    padding-bottom: 80px;
}

/*** PART TOP ASIDE MENU ***/

#logo-desktop {
    height: 40px;
    margin: 20px 0 30px 20px;
    cursor: pointer;
}

.part-top li {
    margin-bottom: 10px;
    border-left: 2px solid black;
}

.part-top ul li:nth-child(2) a, .part-top ul li:nth-child(2) i {
    color: white;
}

.part-top li:nth-child(2) {
    border-left: 2px solid #1DB954;
}

.part-top i {
    font-size: 20px;
    color: grey;
    padding: 0 18px;
}

.part-top li:hover {
    color: white;
    transition: .2s ease-in;
}

.part-top i {
    vertical-align: sub;
}

.part-top li:last-child {
    margin-bottom: 40px;
}

.recently-played {
    margin-left: 20px;
}

.recently-played h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.recently-played span:hover {
    cursor: pointer;
    color: white;
}

/*** PART BOTTOM ASIDE MENU ***/

.part-bottom {
    width: 100%;
}

.part-bottom span {
    cursor: pointer;
}

.part-bottom i {
    margin-right: 10px;
}

.download {
    margin-left: 20px;
    padding: 20px 0;
}

.profile {
    margin-left: 20px;
    padding: 20px 0;
    border-top: 1px solid grey;
}

#user {
    color: white;
}

#user i {
    font-size: 25px;
    color: white;
}

/*** MAIN CONTENT ***/

main {
    width: calc(100vw - 220px);
    height: 100%;
    background-color: red;
    float: right;
    background-image: linear-gradient(-20deg, black, #838535);
    padding: 20px 0;
    position: absolute;
    top: 0;
    right: 0;
    overflow: scroll;
}

nav {
    text-align: center;
    font-size: 12px;
    margin-bottom: 100px;
}

nav ul li {
    display: inline-block;
    font-weight: 900;
    margin: 0 20px;
}


nav ul li a {
    text-transform: uppercase;
    color: lightgrey;
}

nav ul li a:hover {
    color: white;
    transition: .2s ease-in;
}

nav ul li:first-child a {
    color: white;
    position: relative;
}

nav ul li:first-child a::before {
    content: "";
    height: 2px;
    background-color: #1db954;
    width: 30px;
    position: absolute;
    display: block;
    left: 50%;
    bottom: -10px;
    margin-left: -15px;
}

h1 {
 margin: 30px 0;
}

#container {
    width: 80%;
    margin: auto;
}

.wrap {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 80px;
}

.created-for-you p {
    color: lightgrey;
    font-weight: 900;
    font-size: 13px;
    margin-bottom: 20px;
}

.created-for-you {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
}

.created-for-you img {
    width: 150px;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

.img {
    margin-right: 20px;
    position: relative;
}

.img .fa-play-circle {
    position: absolute;
    top: 33%;
    left: 41%;
    display: none;
    color: white;
}

.img:hover .fa-play-circle {
    display: block;
    opacity: 1;
    z-index: 1;
    color: white;
}

.img:hover {
    opacity: 0.6;
    transition: .2s ease-in;
    cursor: pointer;
}

.round-img img {
    border-radius: 50%;
}

/*** FOOTER ***/

footer {
    width: 100vw;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 15px;
}

/*** LEFT PART ***/

.left-part-footer {
    height: 100%;
    display: flex;
}

.left-part-footer img {
    height: 50px;
}

.title-song {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-song span {
    margin: 0 20px;
    font-size: 14px;
}

.title-song span:first-child{
    color: white;
}

.favorite-song {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*** MIDDLE PART ***/

.center-part-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-part-footer i {
    font-size: 16px;
    margin: 0 15px;
    vertical-align: middle;
    font-weight: 600;
}

.fa-play-circle {
    font-size: 30px !important;
}

/*** RIGHT PART ***/

.right-part-footer {
    display: flex;
    align-items: center;
}

.right-part-footer i {
    margin: 0 5px;
}

.right-part-footer i:hover {
    color: white;
    transition: .2s ease-in;
    cursor: pointer;
}
